.modal-element{
    width: 250px;
    height: 250px;
    position:absolute;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    padding:1rem;
    }
.contain-button {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: center;
}
.contain-modal{
    height: 250px;
    margin: auto;
    margin-top: 50px;
}
div [modal-id="second"]{
    margin-left: 400px;
    border: 1px solid green;
}

div [modal-id="first"]{
    margin-left: 40px;
    border: 1px solid red;
}
.but{
    margin: auto;
    padding:1rem;
    width:250px;
    font-size: 1.5rem;
    letter-spacing: .05em;
    font-weight: 600;
    border:none;
    border-radius: .5rem;
    box-shadow: 0 6px 12px -2px rgba(50,50,93,.25), 0 3px 7px -3px rgba(0,0,0,.3);
    transition: transform, box-shadow .5s ease-in-out;
}

.but:active{
    transform: translateY(4px);
    transition: transform, box-shadow .5s ease-in-out;
}